*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 36px;
    background: #fff;
    
  }
  .links{
     
        list-style: none;
        display: flex;
        gap: 36px; 
  }
  .one{
    text-align: center;
    background-color: white;
  }
  section{
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 10px;
  background-color: white;
  height: auto;
  width: auto;
}
.cross{
    height: 25px;
    width: 28px;
    padding-right: 10px;
    padding-left: 5px;
    border-radius: 3px solid red;
}
.butt{
    height: 40px;
    width: 135px;
    background-color: white;
    border: 3px solid red;
    border-radius: 25px;
    font-size: large;
    color: red;
}
h1{
    margin-top: 60px;
}
p{
    padding-top: 36px;
    font-size: medium;
}
.secsec{
    display: flex;
   justify-content: space-evenly;
}

.kola{
    padding-right: 280px;
    padding-left: 280px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 70px;
    background-color: white;
    height: auto;
    width: auto; 
}
  p{
    text-align: center;
  }
  h2{
    padding-top: 25px;
    text-align: center;
  }
  .test{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boy{
    height: 50px;
    width: 250px;
    background-color: red;
    color: white;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 700;
    border: none;
    margin-top: 20px;
  }
  footer{
    height: auto;
  }
  .test1{
    display: flex;
    justify-content: center;
    align-items: center;
  }